<!doctype html>
<html>

<head>
  <style>
    .all-items {
      display: flex;
      flex-wrap: wrap;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <title>Croppy old</title>
</head>

<body>
  
    <H2>This version of Croppy is deprecated.</H2>
    <h3>Please use new version at <a href="https://croppy.duckdns.org">https://croppy.duckdns.org</a>. </h4>
    <p>For multiple reasons I will be switching croppy to work differently. I will keep the old version here for a little while.</p>
  <div class="all-items">
    <div id="picture">
      <img src="static/out.png" alt="Croppy Logo" title="Logo pic by Laht - https://tapas.io/Laht">
    </div>
    <div id=cont>
      <!-- If I am sick / don't work you can go to the old croppy at <a href="https://old-croppy.beta1042.duckdns.org">old-croppy</a>, but in general I should be faster, and work on larger images!<br> -->
      I take <b>PNG, PSD, TIFF</b> (best options) or JPG.
      <br> You can upload multiple files at once.
      <form method=post enctype=multipart/form-data action='./split.zip'>
        <br>
        <table>
          <tr>
            <th>Websites</th>
            <th>format ( select all that apply)</th>
          </tr>
          <tr>
            <td>Line Webtoon</td>
            <td>
              <input type="checkbox" name="DoLine" value="1" checked="checked">
            </td>
          </tr>
          <tr>
            <td>Tapas</td>
            <td>
              <input type="checkbox" name="DoTapas" value="1" />
            </td>
          </tr>
        </table>
        <p>
          <input type=file name=file accept="image/gif, image/jpeg, image/png, image/bmp" multiple>
          <input type=submit value=Upload>
      </form>
    </div>
  </div>
</body>

</html>